<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>ADMIN Dashboard</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"></head>
<body>
	
	<div th:replace="fragments/admin-navbar::admin-navbar"></div>

	<div class="card  ml-5 mr-5 mt-5 mb-5" style="width: 18rem;">
		<div class="card-header">
			ADMIN
		</div>
		<ul class="list-group list-group-flush">
			<li class="list-group-item" sec:authorize="hasRole('USER')">
				<span class="badge badge-info">Text visible to user.</span>
			</li>
			<li class="list-group-item" sec:authorize="hasRole('ADMIN')">
				<span class="badge badge-info">Text visible to admin.</span>
			</li>
			<li class="list-group-item" sec:authorize="isAuthenticated()">
				<span class="badge badge-info">Text visible only to authenticated users.</span>
			</li>
			<li class="list-group-item">
				<span class="badge badge-info">Name</span>
				<span sec:authentication="name"></span>
			</li>
			<li class="list-group-item">
				<span class="badge badge-info">First Name</span>
				<span sec:authentication="principal.firstName"></span>
			</li>
			<li class="list-group-item">
				<span class="badge badge-info">Last Name</span>
				<span sec:authentication="principal.lastName"></span>
			</li>
			<li class="list-group-item">
				<span class="badge badge-info">Email</span>
				<span sec:authentication="principal.email"></span>
			</li>
		  	<li class="list-group-item">
				<span class="badge badge-info">Authorities</span>
				<span sec:authentication="principal.authorities"></span>
			</li>
		</ul>
	  </div>

	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>