<div th:fragment="admin-navbar">
  <nav class="navbar navbar-expand-lg  navbar-dark bg-primary">
      <a class="navbar-brand" href="#">ADMIN Dashboard</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link active" href="admin-dashboard">Home <span class="sr-only">(current)</span></a>
          <a class="nav-item nav-link" href="list-user">Users</a>
          <a class="nav-item nav-link" href="#">Products</a>
          <a class="nav-item nav-link" href="logout">Logout</a>
        </div>
      </div>
  </nav>
</div>

